@media screen and (min-width: 200px), (max-width: 500px) {
  .my:hover {
    color: white;
    text-decoration-line: underline;
  }
  .icondelete {
    color: black;
  }
  .myfavourite {
    background-repeat: repeat;
    background-size: cover;
    /* width: 35%; */
    height: 0%;
    width: 10% 0%;
    /* border: 2px solid rgb(93, 102, 93); */
  }
  .mypage {
    background-repeat: repeat;
    background-size: cover;
  }
  .my {
    border-right: 3px solid green;
    height: 30px;
    text-decoration: none;
    float: left;
    display: block;
    color: rgb(253, 253, 253);
    font-family: unset;
    font-size: 17px;
    padding: 2px 16px;
    margin: 5px;
  }
  .image2 {
    width: 40%;
    border-radius: 5%;
    transform: translate(130%, 5%);
  }
  .myfavor {
    font-size: 27px;
    background-color: rgb(127, 204, 49);
    border-radius: 10px;
    height: 35px;
    width: 10%;
    transform: translate(30%,-350px);
    color: white;
  }
  .time {
    transform: translate(13em, -14em);
    font-size: 27px;
    color: black;
  }
  .title {
    transform: translate(2em, -11em);
    font-size: 30px;
    color: black;
  }
  .ingredient {
    transform: translate(2em,-19em);
    font-size: 20px;
    width: 46%;
    color: black;
  }
  .discription {
    transform: translate(2em,-18em);
    font-size: 20px;
    /* float: right; */
    width: 46%;
    color: black;
  }
.newr{
  width: 100%;
  height: 450px;
}

}
