@media screen and (min-width: 200px), (max-width: 500px) {
  .recipe {
    text-decoration: none;
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    font-family: unset;
    font-size: 17px;
    padding: 2px 16px;
    margin: 5px;
  }
  .recipe:hover {
    color: white;
    text-decoration-line: underline;
  }
  .rec {
    height: 30px;
    width: 30%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px rgb(36, 35, 35) solid;
    color: black;
    transform: translate(110%, 20%);
    border-radius: 5px;
  }
  .buttonnew {
    border-top: none;
    transform: translate(110%, 60%);
    font-size: 18px;
    border-radius: 10px;
    height: 38px;
    width: 30%;
    background-color: rgb(127, 204, 49);
    color: white;
  }
}
