.product {
  padding: 5% 5%;
  display: grid;
}
.imag {
  width: 46% ;
  border-radius: 5%;
  /* transform: translate(130%, 5%); */
}
.time2 {
  transform: translate(29em, -14em);
  font-size: 27px;
  color: black;
}
.title2 {
  transform: translate(20em, -11em);
  font-size: 30px;
  color: black;
}
.ingredient2 {
  transform: translate(30em,-17em);
  font-size: 20px;
  width: 46%;
  color: black;
}
.description2 {
  transform: translate(27.3em,-14em);
  font-size: 22px;
  width: 46%;
  color: black;
}
