@media screen and (min-width: 200px), (max-width: 500px) {
  .loginbutton {
    transform: translate(110%, 20%);
    font-size: 18px;
    border-radius: 10px;
    height: 38px;
    width: 40%;
    color: white;
    background-color: rgb(127, 204, 49);
  }
  .loginpage {
    align-self: center;
    background-repeat: repeat;
    background-size: cover;
  }
  .login:hover {
    color: white;
    text-decoration-line: underline;
  }

  .login {
    /* background-color: green; */
    text-decoration: none;
    float: left;
    color: rgb(255, 255, 255);
    font-family: unset;
    font-size: 17px;
    padding: 2px 16px;
    margin: 5px;
  }

  .ee {
    width: 70%;
  }
  .email {
    height: 30px;
    width: 40%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px rgb(36, 35, 35) solid;
    /* background-color: rgb(0, 0, 0,0.2); */
    color: black;
    transform: translate(110%, 20%);
    border-radius: 5px;
  }
}
