@media screen and (min-width: 200px), (max-width: 500px) {
  .App {
    padding: 40px;
    background-color: white;
    background-repeat: repeat;
    background-size: cover;
  }


  .logout:hover {
    color: white;
    text-decoration-line: underline;
  }
  .logout {
    width: 100%;
    /* background-color: rgb(6, 235, 6); */
    text-decoration: none;
    /* display: none; */
    color: rgb(255, 255, 255);
    font-family: unset;
    font-size: 17px;
    padding: 2px 16px;
    margin: 5px;
  }
  .logo {
    height: 100px;
    width: 30%;
    margin-left: 50%;
    /* background-color: rgb(127, 204, 49); */
  }
  .logo1 {
    /* logo */
    padding: 15px 0 0;
    float: left;
    height: -30%;
    width: 15%;
  }
  .img1 {
    padding: 0% 0%;
  }
}
