@media screen and (min-width: 200px), (max-width: 500px) {
  .App {
    background-color: white;
    background-repeat: repeat;
    background-size: cover;
  }

  .logout:hover {
    color: white;
    text-decoration-line: underline;
  }
  .logout {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    font-family: unset;
    font-size: 19px;
    padding: 2px 16px;
    margin: 5px;
    float: right;
  }
  .logo {
    width: 30%;

    float: none;
    display: inline-block;
    margin-left: 50%;
  }

  .image {
    width: 30%;
  }
  .logo1 {
    transform: translate(15%,0%);
    display: block;
    padding: 15px 0 0;
    float: left;
    width: 15% 10%;
  }
  .img1 {
    padding: 0% 0%;
  }
}
