@media screen and (min-width: 200px), (max-width: 500px) {

.registerpage {
    align-self: center;
    background-repeat: repeat;
    background-size: cover;
  }
  .email1 {
    border-bottom: 2px rgb(36, 35, 35) solid;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 28px;
    width: 28%;    
    /* background-color: rgb(0, 0, 0,0.2); */
    color: rgb(7, 7, 7);
    border-radius: 5px;
    transform: translate(110%, 20%);
  }
  
  .register {
    border-left:3px solid green;
    height: 30px;
    text-decoration: none;
    float: right;
    color: rgb(255, 255, 255);
    font-family: unset;
    font-size: 17px;
    padding: 2px 16px;
    margin: 5px;

    /* text-decoration: none;
    margin: 5px;
    font-family: unset;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-align: center;
    padding: 2px 16px; */
  }
  .register:hover {
    color: white;
    text-decoration-line: underline;
  }

  .buttonregister {
    transform: translate(110%, 20%);
    font-size: 18px;
    border-radius: 10px;
    height: 38px;
    width: 28%;
    color: white;
    background-color: rgb(127, 204, 49);
    
  }
}