@media screen and (min-width: 200px), (max-width: 500px) {
  .allpage {
    display: flex;
  }

  .stars1 {
    transform: translate(41em, -18em);
  }
  .heart:hover {
    border-bottom: 2px solid rgb(10, 10, 10);
    border-top: 2px solid rgb(10, 10, 10);
    border-right: 2px solid rgb(10, 10, 10);
    border-left: 2px solid rgb(10, 10, 10);
  }
  .heart {
    transform: translate(46.5em, -30.7em);
    font-size: 15px;
    border-radius: 10px;

    background: white;
    height: 35px;
    width: 5%;
    color: rgb(0, 0, 0);
    background-color: rgb(127, 204, 49);
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
  }

  .allrecipe {
    border-right: 3px solid green;
    height: 30px;
    text-decoration: none;
    margin: 5px;
    font-family: unset;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-align: center;
    padding: 2px 16px;
  }
  .add1:hover {
    border-bottom: 2px solid rgb(10, 10, 10);
    border-top: 2px solid rgb(10, 10, 10);
    border-right: 2px solid rgb(10, 10, 10);
    border-left: 2px solid rgb(10, 10, 10);
  }
  .plus1 {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
    transform: translate(36em, -23em);
    font-size: 20px;
    height: 33px;
    width: 5%;
    background-color: rgb(127, 204, 49);
    border-radius: 10px;
    color: white;
  }
  .input2 {
    border-top: none;
    border-right: none;
    border-left: none;
    height: 30px;
    width: 18%;
    border-bottom: 2px solid rgb(10, 10, 10);
    color: black;
    border-radius: 10px;
    /* gap: 2px; */
    /* display: flex; */
    transform: translate(65em, -37em);
  }
  .image {
    width: 38%;   
     padding: 2%;
    border-radius: 5%;
  }
  .comment {
    transform: translate(39.5em, -23em);
    font-size: 23px;
    color: black;
  }
  .title3 {
    transform: translate(19em, -10em);
    font-size: 30px;
    color: black;
  }

  .allrecipe:hover {
    color: white;
    text-decoration-line: underline;
  }

  .delete2 {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    transform: translate(4em, -33.7em);
    font-size: 15px;
    border-radius: 10px;
    height: 35px;
    width: 5%;
    color: rgb(0, 0, 0);
    background-color: rgb(127, 204, 49);
  }
  .time3 {
    transform: translate(21em, -9.5em);
    font-size: 27px;
    color: black;
  }
  .delete2:hover {
    border-bottom: 2px solid rgb(10, 10, 10);
    border-top: 2px solid rgb(10, 10, 10);
    border-right: 2px solid rgb(10, 10, 10);
    border-left: 2px solid rgb(10, 10, 10);
  }
  .update:hover {
    border-bottom: 2px solid rgb(10, 10, 10);
    border-top: 2px solid rgb(10, 10, 10);
    border-right: 2px solid rgb(10, 10, 10);
    border-left: 2px solid rgb(10, 10, 10);
  }
  .update {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    transform: translate(9em, -30em);
    font-size: 15px;
    border-radius: 10px;
    height: 35px;
    width: 5%;
    color: rgb(0, 0, 0);
    background-color: rgb(127, 204, 49);
  }
  .titl {
    /* height: 30px;
    width: 13%; */
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px rgb(36, 35, 35) solid;
    color: black;
    transform: translate(18em, -23.6em);
    border-radius: 5px;
  }
  .ing {
    /* height: 30px;
    width: 20%; */
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px rgb(36, 35, 35) solid;
    color: black;
    transform: translate(4em, -27em);
    border-radius: 5px;
  }
  .tim {
    /* height: 30px;
    width: 20%; */
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px rgb(36, 35, 35) solid;
    color: black;
    transform: translate(3.7em, -27em);
    border-radius: 5px;
  }
  .add {
    font-size: 15px;
    background-color: rgb(127, 204, 49);
    border-radius: 10px;
    height: 35px;
    color: white;
  }
  .desc {
    /* height: 30px;
    width: 20%; */
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px rgb(36, 35, 35) solid;
    color: black;
    transform: translate(18em, -32em);
    border-radius: 5px;
  }

  .prompt {
    width: 30%;
    transform: translate(15%, -10%);
  }
}

.all2 {
  width: 100%;
  height: 500px;
}
