@media screen and (min-width: 200px), (max-width: 500px) {
  .allpage {
    background-repeat: repeat;
    background-size: cover;
  }
  .stars {
    transform: translate(14em, -34em);
  }
  .heart:hover {
    background-color: rgb(48, 185, 7);
    border-bottom: black;
  }
  .heart {
    transform: translate(30em, -27.5em);
    font-size: 15px;
    border-radius: 10px;

    background: white;
    height: 35px;
    width: 5%;
    color: rgb(0, 0, 0);
    background-color: rgb(127, 204, 49);
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
    }

  .allrecipe {
    border-right: 3px solid green;
    height: 30px;
    text-decoration: none;
    margin: 5px;
    font-family: unset;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-align: center;
    padding: 2px 16px;
  }
  .add1:hover{
    background-color: rgb(48, 185, 7);
    border-bottom: black;
  }
  .add1 {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;

    transform: translate(18em, -23.3em);
    font-size: 20px;
    height: 33px;
    width: 5%;
    background-color: rgb(127, 204, 49);
    border-radius: 10px;
    color: white;
  }
  .input1 {
    border-top: none;
    border-right: none;
    border-left: none;
    height: 30px;
    width: 20%;
    border-bottom: 2px solid rgb(10, 10, 10);
    color: black;
    border-radius: 10px;
    transform: translate(4em, -23em);
  }
  .image {
    width: 40%;
    border-radius: 5%;
    transform: translate(130%, 5%);
    /* width: 44%; */
    /* height: 20%; */
    /* display: block; */
    /* border-radius: 5%; */
    /* float: left; */
    /* transform: translate(200%, 100%); */
  }
  .comment {
    transform: translate(2.5em, -15em);
    font-size: 23px;
    color: black;
  }
  .title2 {
    transform: translate(2em, -11em);
    font-size: 30px;
    color: black;
    /* font-size: 30px;
    color: black; */
  }

  .allrecipe:hover {
    color: white;
    text-decoration-line: underline;
  }
  /* .all1 { */
  /* display: grid; */
  /* grid-template-columns: 100%; */
  /* grid-auto-flow: row; */
  /* border: 2px solid black; */
  /* padding: 0% 3%; */
  /* } */
  .delete2 {
    transform: translate(35em, -52.4em);
    font-size: 15px;
    border-radius: 10px;
    height: 35px;
    width: 5%;
    color: rgb(0, 0, 0);
    background-color: rgb(127, 204, 49);

    /* transform: translate(110%, -400%);
    font-size: 15px;
    border-radius: 10px;
    height: 38px;
    width: 20%;
    color: #ffffff;
    background-color: rgb(127, 204, 49); */
  }
  .time2 {
    transform: translate(13em, -14em);
    font-size: 27px;
    color: black;
  }
  .update {
    transform: translate(29.4em, -48.7em);
    font-size: 15px;
    border-radius: 10px;
    height: 35px;
    width: 5%;
    color: rgb(0, 0, 0);
    background-color: rgb(127, 204, 49);
  }
  .tit {
    height: 30px;
    width: 20%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px rgb(36, 35, 35) solid;
    color: black;
    transform: translate(4em, -32em);
    border-radius: 5px;
  }
  .ingred {
    height: 30px;
    width: 20%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px rgb(36, 35, 35) solid;
    color: black;
    transform: translate(4em, -33em);
    border-radius: 5px;
  }
  .timee {
    height: 30px;
    width: 20%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px rgb(36, 35, 35) solid;
    color: black;
    transform: translate(24em, -35.5em);
    border-radius: 5px;
  }
  .add {
    font-size: 15px;
    background-color: rgb(127, 204, 49);
    border-radius: 10px;
    height: 35px;
    color: white;
  }
  .describ {
    height: 30px;
    width: 20%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px rgb(36, 35, 35) solid;
    color: black;
    transform: translate(24em, -37em);
    border-radius: 5px;
  }

  .prompt {
    width: 30%;
    transform: translate(15%, -10%);
  }
}
