@media screen and (min-width: 200px), (max-width: 500px) {
  .allpage {
    background-repeat: repeat;
    background-size: cover;
    display: grid;
  }

  .allrecipe {
    /* background-color: green; */
    text-decoration: none;
    margin: 5px;
    font-family: unset;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-align: center;
    padding: 2px 16px;
  }
.add1{
  font-size: 14px;
  background-color: rgb(127, 204, 49);
  border-radius: 10px;
  height: 35px;
  color: white;
}
.input{
  height: 30px;
  border-bottom: 2px rgb(36, 35, 35) solid;
  color: black;
  border-radius: 10px;
}
  .time {
    font-size: 30px;
    width: 500px;
    color: rgb(85, 84, 84);
  }
  .title {
    font-size: 25px;
    float: right;
    color: rgb(85, 84, 84);
    width: 100%;
  }
  .allrecipe:hover {
    color: white;
    text-decoration-line: underline;
  }
  .all1 {
    /* display: grid; */
    /* grid-template-columns: 100%; */
    /* grid-auto-flow: row; */
    /* border: 2px solid black; */
    padding: 0% 3%;

  }
  .delete {
    transform: translate(110%, -400%);
    font-size: 15px;
    border-radius: 10px;
    height: 38px;
    width: 20%;
    color: #ffffff;
    background-color: rgb(127, 204, 49);
  }
  .timee {
    height: 30px;
    width: 20%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px rgb(36, 35, 35) solid;
    color: black;
    transform: translate(110%, 20%);
    border-radius: 5px;
  }
  .update {
    transform: translate(0%, -250%);
    font-size: 15px;
    border-radius: 10px;
    height: 38px;
    width: 20%;
    color: white;
    background-color: rgb(127, 204, 49);
  }
  .tit {
    height: 30px;
    width: 20%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px rgb(36, 35, 35) solid;
    color: black;
    transform: translate(110%, 20%);
    border-radius: 5px;
  }
  .ingred {
    height: 30px;
    width: 20%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px rgb(36, 35, 35) solid;
    color: black;
    transform: translate(0%, -320%);
    border-radius: 5px;
  }
.add{
  font-size: 15px;
    background-color: rgb(127, 204, 49);
    border-radius: 10px;
    height: 35px;
    color: white;
  }
  .describ {
    height: 30px;
    width: 20%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px rgb(36, 35, 35) solid;
    color: black;
    transform: translate(0%, -330%);
    border-radius: 5px;
  }
  .prompt {
    width: 30%;
    transform: translate(15%, -10%);
  }
  /* .buttonall {
    cursor: pointer;
    border-top: black;
    height: 25px;
    width: 120px;
  } */
}
